section.companies {
    padding: 100px 0px;
    background-color: var(--taican-white);

    .section-heading-light {
        text-align: center;
    }

    .section-subheading-light {
        text-align: center;
    }

    .coming-soon {
        margin-top: 80px;
        font-size: 25px;
        text-align: center;
    }

    .items-container {
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a {
            max-width: 20%;
            margin: 1rem 1.5rem;
        }

        img {
            max-height: 5rem;
            max-width: 100%;
        }
    }

    .companies-contact {
        margin-top: 80px;

        h2 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
        }

        a {
            color: var(--marjan-red);
            border-bottom: solid 2px var(--marjan-red);
            text-decoration: none;
        }
    }
}
